# Projekt OS

## Uppgift 0 - Uppv√§rmning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly_express as px
import plotly.graph_objects as go
from datetime import datetime
from load_data import ShowMeData

In [2]:
df = ShowMeData("athlete_events.csv")

In [3]:
athlete_events = df.parse_data()
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
df.show_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

"\n        Dataframe info:\nNone\n\n        Name: athlete_events.csv\n\n        Sheet name: None\n\n        Data head():\n   ID                      Name Sex   Age  Height  Weight            Team  \\\n0   1                 A Dijiang   M  24.0   180.0    80.0           China   \n1   2                  A Lamusi   M  23.0   170.0    60.0           China   \n2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark   \n3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden   \n4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands   \n\n   NOC        Games  Year  Season       City          Sport  \\\n0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball   \n1  CHN  2012 Summer  2012  Summer     London           Judo   \n2  DEN  1920 Summer  1920  Summer  Antwerpen       Football   \n3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War   \n4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating   \n\n                              Event Medal  \n0       Basketball Men's Basketball   NaN  \n1      Judo Men's Extra-Lightweight   NaN  \n2           Football Men's Football   NaN  \n3       Tug-Of-War Men's Tug-Of-War  Gold  \n4  Speed Skating Women's 500 metres   NaN  \n\n        Shape: (271116, 15)\n\n        Index: RangeIndex(start=0, stop=271116, step=1)\n\n        Columns: Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',\n       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],\n      dtype='object')\n\n        Variables types:\nID          int64\nName       object\nSex        object\nAge       float64\nHeight    float64\nWeight    float64\nTeam       object\nNOC        object\nGames      object\nYear        int64\nSeason     object\nCity       object\nSport      object\nEvent      object\nMedal      object\ndtype: object\n      \n        Dataframe description:\n                  ID            Age         Height         Weight  \\\ncount  271116.000000  261642.000000  210945.000000  208241.000000   \nmean    68248.954396      25.556898     175.338970      70.702393   \nstd     39022.286345       6.393561      10.518462      14.348020   \nmin         1.000000      10.000000     127.000000      25.000000   \n25%     34643.000000      21.000000     168.000000      60.000000   \n50%     68205.000000      24.000000     175.000000      70.000000   \n75%    102097.250000      28.000000     183.000000      79.000000   \nmax    135571.000000      97.000000     226.000000     214.000000   \n\n                Year  \ncount  271116.000000  \nmean     1978.378480  \nstd        29.877632  \nmin      1896.000000  \n25%      1960.000000  \n50%      1988.000000  \n75%      2002.000000  \nmax      2016.000000  \n\n        Summary of missing values:\nID             0\nName           0\nSex            0\nAge         9474\nHeight     60171\nWeight     62875\nTeam           0\nNOC            0\nGames          0\nYear           0\nSeason         0\nCity           0\nSport          0\nEvent          0\nMedal     231333\ndtype: int64\n\n        Total number of missing values:\n363853\n        \n        The percentage of missing values in each column:\nID        0.000000\nName      0.000000\nSex       0.000000\nAge       0.034944\nHeight    0.221938\nWeight    0.231912\nTeam      0.000000\nNOC       0.000000\nGames     0.000000\nYear      0.000000\nSeason    0.000000\nCity      0.000000\nSport     0.000000\nEvent     0.000000\nMedal     0.853262\ndtype: float64  \n        \n        The variables that present null values the most:\nMedal     0.853262\nWeight    0.231912\nHeight    0.221938\nAge       0.034944\nID        0.000000\ndtype: float64\n\n        \n        "