# Projekt OS

## Uppgift 0 - Uppvärmning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly_express as px
import plotly.graph_objects as go
from datetime import datetime
from load_data import ShowMeData

In [2]:
df_object = ShowMeData("athlete_events.csv")
athlete_events = df_object.parse_data()
print(df_object.show_info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

        Dataframe info:
None

        Name: athlete_events.csv

        Sheet name: None

        Data head():
   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

        Shape: (271116, 15)

        Index: RangeIndex(start=0, stop=271116, step=1)

        Columns: Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

        Variables types:
ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

        Dataframe description:
                  ID            Age         Height         Weight  \
count  271116.000000  261642.000000  210945.000000  208241.000000
mean    68248.954396      25.556898     175.338970      70.702393
std     39022.286345       6.393561      10.518462      14.348020
min         1.000000      10.000000     127.000000      25.000000
25%     34643.000000      21.000000     168.000000      60.000000
50%     68205.000000      24.000000     175.000000      70.000000
75%    102097.250000      28.000000     183.000000      79.000000
max    135571.000000      97.000000     226.000000     214.000000

                Year
count  271116.000000
mean     1978.378480
std        29.877632
min      1896.000000
25%      1960.000000
50%      1988.000000
75%      2002.000000
max      2016.000000

        Summary of missing values:
ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

        Total number of missing values:
363853

        The percentage of missing values in each column:
ID        0.000000
Name      0.000000
Sex       0.000000
Age       0.034944
Height    0.221938
Weight    0.231912
Team      0.000000
NOC       0.000000
Games     0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.853262
dtype: float64

        The variables that present null values the most:
Medal     0.853262
Weight    0.231912
Height    0.221938
Age       0.034944
ID        0.000000
dtype: float64

In [3]:
df_object = ShowMeData("noc_regions.csv")
noc_regions = df_object.parse_data()
print(df_object.show_info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

        Dataframe info:
None

        Name: noc_regions.csv

        Sheet name: None

        Data head():
   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

        Shape: (230, 3)

        Index: RangeIndex(start=0, stop=230, step=1)

        Columns: Index(['NOC', 'region', 'notes'], dtype='object')

        Variables types:
NOC       object
region    object
notes     object
dtype: object

        Dataframe description:
        NOC   region                 notes
count   230      227                    21
unique  230      206                    21
top     AFG  Germany  Netherlands Antilles
freq      1        4                     1

        Summary of missing values:
NOC         0
region      3
notes     209
dtype: int64

        Total number of missing values:
212

        The percentage of missing values in each column:
NOC       0.000000
region    0.013043
notes     0.908696
dtype: float64

        The variables that present null values the most:
notes     0.908696
region    0.013043
NOC       0.000000
dtype: float64

a. hur många länder som är med i datan?

In [6]:
print(f"There are {noc_regions.region.nunique()} countries in the dataset")

There are 206 countries in the dataset


b. vilka länder är med? (förkortningarna räcker)
c. vilka sporter är med?
d. vilka medaljtyper finns det?
e. ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse,
f. utforska datan vidare med egna frågor
Se även till att plotta några intressanta features, exempelvis:
g. cirkeldiagram över könsfördelningen
h. stapeldiagram över topp 10 länder som tagit flest medaljer
i. plotta gärna fler saker som är intressant.