## Uppgift 2 - Sport statistics

Date: 2021-11-10

Choose 2-4 sports and create suitable graphs / diagrams to visualize for example:
- medal distribution between countries in sports
- age distribution in sports
- Create more plots to visualize different aspects of the sport.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly_express as px
import plotly.graph_objects as go
from datetime import datetime
from load_data import ShowMeData
import analyze_functions as af

In [2]:
athlete_regions = pd.read_csv("data/athlete_regions.csv")
athlete_regions.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,_merge
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,both
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,both
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,both
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,both
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,both

In [3]:
af.count_medals_test(athlete_regions, "region")

Medal      Bronze  Gold  Silver  Total
region
USA          1358  2638    1641   5637
Russia       1178  1599    1170   3947
Germany      1260  1301    1195   3756
UK            651   678     739   2068
France        666   501     610   1777
Italy         531   575     531   1637
Sweden        535   479     522   1536
Canada        451   463     438   1352
Australia     522   368     459   1349
Hungary       371   432     332   1135

In [11]:
af.count_medals_test(athlete_regions, "NOC").reset_index()

Medal  NOC  Bronze  Gold  Silver  Total
0      USA    1358  2638    1641   5637
1      URS     689  1082     732   2503
2      GER     746   745     674   2165
3      GBR     651   678     739   2068
4      FRA     666   501     610   1777
5      ITA     531   575     531   1637
6      SWE     535   479     522   1536
7      CAN     451   463     438   1352
8      AUS     517   348     455   1320
9      RUS     408   390     367   1165

In [7]:
athlete_regions.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes',
       '_merge'],
      dtype='object')

In [5]:
test = af.count_medals_args(athlete_regions, "region", "Sport", "Sex")
test.reset_index()
test.head()

Medal                  Bronze  Gold  Silver  Total
region  Sport     Sex
USA     Athletics M       184   414     254    852
        Swimming  M        88   385     134    607
                  F        87   264     120    471
Germany Rowing    M        84   184      72    340
Italy   Fencing   M        57   129     122    308

In [22]:
test.index.names = ["ID"]
test.head()

Medal  Year  region  Bronze  Gold  Silver  Total
ID
620    1980  Russia     133   205     158    496
45     1904     USA     125   128     141    394
81     1908      UK      90   147     131    368
720    1988  Russia     111   174      81    366
678    1984     USA      50   190     121    361

In [4]:
af.count_medals_by_year(athlete_regions, "NOC")

Medal  Year  NOC  Bronze  Gold  Silver  Total
ID
630    1980  URS     133   205     158    496
45     1904  USA     125   128     141    394
72     1908  GBR      90   147     131    368
736    1988  URS     111   174      81    366
682    1984  USA      50   190     121    361
589    1976  URS      88   152     102    342
1214   2008  USA      80   127     110    317
607    1980  GDR      73   131      99    303
756    1992  EUN      81   127      71    279
1438   2016  USA      71   139      54    264

In [5]:
af.count_medals_by_country(athlete_regions, "Sport")

Medal     region       Sport  Bronze  Gold  Silver  Total
ID
1206         USA   Athletics     221   542     317   1080
1244         USA    Swimming     175   649     254   1078
482      Germany      Rowing     107   272      92    471
49     Australia    Swimming     124   123     165    412
917       Russia  Gymnastics      81   176     142    399
1234         USA      Rowing      88   186     101    375
902       Russia   Athletics     121   124     129    374
490      Germany    Swimming     148    82     137    367
459      Germany   Athletics     143    90     132    365
593        Italy     Fencing      72   151     136    359

In [6]:
athlete_regions = athlete_regions.iloc[:, :-2].reset_index(drop=True)
athlete_regions["Medal"] = athlete_regions["Medal"].fillna(0) 
athlete_regions.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0

In [7]:
sports = athlete_regions['Sport'].unique().tolist()
sports

['Basketball',
 'Judo',
 'Football',
 'Tug-Of-War',
 'Speed Skating',
 'Cross Country Skiing',
 'Athletics',
 'Ice Hockey',
 'Swimming',
 'Badminton',
 'Sailing',
 'Biathlon',
 'Gymnastics',
 'Art Competitions',
 'Alpine Skiing',
 'Handball',
 'Weightlifting',
 'Wrestling',
 'Luge',
 'Water Polo',
 'Hockey',
 'Rowing',
 'Bobsleigh',
 'Fencing',
 'Equestrianism',
 'Shooting',
 'Boxing',
 'Taekwondo',
 'Cycling',
 'Diving',
 'Canoeing',
 'Tennis',
 'Modern Pentathlon',
 'Figure Skating',
 'Golf',
 'Softball',
 'Archery',
 'Volleyball',
 'Synchronized Swimming',
 'Table Tennis',
 'Nordic Combined',
 'Baseball',
 'Rhythmic Gymnastics',
 'Freestyle Skiing',
 'Rugby Sevens',
 'Trampolining',
 'Beach Volleyball',
 'Triathlon',
 'Ski Jumping',
 'Curling',
 'Snowboarding',
 'Rugby',
 'Short Track Speed Skating',
 'Skeleton',
 'Lacrosse',
 'Polo',
 'Cricket',
 'Racquets',
 'Motorboating',
 'Military Ski Patrol',
 'Croquet',
 'Jeu De Paume',
 'Roque',
 'Alpinism',
 'Basque Pelota',
 'Aeronautics']

In [1]:
import analyze_functions as af
import pandas as pd

df = pd.read_csv("data/canada.csv", index_col=0)
df.head()

,ID,Name,HashName,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,140,"William ""Bill"" Abbott Jr.",aba7d8d0992f2b3b6e46b1831df764994ff8ffbf6c898f...,M,42.0,172.0,80.0,Canada,CAN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
1,140,"William ""Bill"" Abbott Jr.",aba7d8d0992f2b3b6e46b1831df764994ff8ffbf6c898f...,M,46.0,172.0,80.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Mixed Three Person Keelboat,NaN
2,146,Jeremy Abbott,70df8f4a81f7f3a99f3082f342cbc5abe1a94639746d6e...,M,19.0,179.0,71.0,Canada,CAN,1976 Summer,1976,Summer,Montreal,Canoeing,"Canoeing Men's Canadian Doubles, 1,000 metres",NaN
3,147,Joanne Abbott,f88877baecbe8c235efe8ad5692bab36d2dc9e36091da0...,F,41.0,160.0,57.0,Canada,CAN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
4,148,"Kathryn ""Katie"" Abbott",6dbe76474f9fa17f0569120a314c2fb177ec51f05996eb...,F,21.0,164.0,63.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Women's Three Person Keelboat,NaN

In [2]:
af.count_medals_by_year(df, "Season")

Medal        Bronze  Gold  Silver  Total
Year Season
2010 Winter       8    67      15     90
1984 Summer      32    19      36     87
2014 Winter       5    59      22     86
2002 Winter      15    52       7     74
2016 Summer      61     4       4     69
2006 Winter      11    30      28     69
2012 Summer      33     1      21     55
1908 Summer      30    14       8     52
1996 Summer      12     8      30     50
1998 Winter       7    14      28     49